*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(207, 239, 247);
}

#container{
    height: 90%;
    width: 80%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 5px;
}

h1{
    font-weight: 450;
    color: rgb(207, 239, 247);
    padding-top: 2%;
    padding-left: 5%;
    font-size: 30px;
}

#imgHolder{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.small{
    height: 140px;
    width: 22%;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
}

.small:hover{
    cursor: zoom-in;
    transform: scale(1.2);
}

#big{
    height: 560px;
    width: 1025px;
    background-color: #fff;
    position: absolute;
    margin-top: 2%;
    left: 10%;
}

#close{
    position: absolute;
    margin-top: 4%;
    right: 12%;
    cursor: pointer;
}

#container2{
    position: relative;
    display: none;
}